# ==============================
# Swift Package Manager
# ==============================
.build/
.swiftpm/
Packages/

# ==============================
# Xcode build data
# ==============================
DerivedData/
.deriveddata/
build/

# ==============================
# Xcode user-specific files
# ==============================
*.xcuserstate
*.xcuserdata/
*.xcuserdatad/
**/xcuserdata/

# ==============================
# macOS system files
# ==============================
.DS_Store